body { background: #77cd67; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 57px; display: flex; }
.block-router-0 { color: #323bc4; font-size: 20px; margin-bottom: 5px; }
.block-payment-1 { color: #c23263; font-size: 15px; margin-bottom: 5px; }
.block-product-2 { color: #1e3746; font-size: 16px; margin-bottom: 5px; }
.block-validator-3 { color: #6c490b; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #72364b; font-size: 21px; margin-bottom: 5px; }
.block-helper-5 { color: #ec9ef2; font-size: 12px; margin-bottom: 5px; }